.wrapper {
  padding: 1rem;
  @include flex(column, start);

  .container {
    flex: 1;
    @include flex(column, start, center, 10px);

    .products {
      min-block-size: max-content;
      @include grid(
        repeat(auto-fill, minmax(150px, auto)),
        auto,
        10px,
        center,
        stretch
      );
    }

    .products_empty {
      min-block-size: max-content;
      @include grid(1fr, auto, 10px, center, center);
    }

    .loading {
      block-size: 100%;
    }

    .editor {
      block-size: 100%;
    }
  }
}
