.container {
  flex: 1;
  @include flex(column, start, center, 10px);

  .products {
    min-block-size: max-content;
    @include grid(
      repeat(auto-fill, minmax(150px, auto)),
      auto,
      10px,
      center,
      stretch
    );
  }

  .editor {
    block-size: 100%;
  }
}
