.loader_component {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .circle_one,
  .circle_two,
  .circle_three {
    inline-size: 20px;
    aspect-ratio: 1;
    background-color: $bg-color;
    border-radius: 50%;
    box-shadow: $shadow;
  }

  .circle_one {
    animation: jump-one 1s infinite ease-in-out;
  }

  .circle_two {
    animation: jump-two 1s infinite ease-in-out;
  }

  .circle_three {
    animation: jump-three 1s infinite ease-in-out;
  }

  @keyframes jump-one {
    0%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
      background-color: $accent-color;
    }
  }

  @keyframes jump-two {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
      background-color: $accent-color;
    }
  }

  @keyframes jump-three {
    0%,
    100% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-10px);
      background-color: $accent-color;
    }
  }
}
