.card_users {
  inline-size: 100%;
  @include flex(column, center, stretch, 10px);
  background-color: $block-color;
  padding: 1rem;
  border-radius: $radius;
  box-shadow: $shadow;
  border: $border;

  &:has(.me) {
    gap: 0;
  }

  .span {
    font-weight: 600;
    color: $accent-color;
  }

  .me {
    padding-block-end: 0.5rem;
    border-block-end: $border;
  }

  .description:has(.me) {
    border-block-end: none;
  }

  .description {
    inline-size: 100%;
    @include flex(column, end, end, 10px);
    padding-block-end: 0.5rem;
    border-block-end: $border;
  }

  .buttons {
    @include flex(column, center, center, 10px);

    .button {
      font-size: 14px;
    }
  }
}

.card_users_accent {
  background: $gradient;
}
