.container {
  inline-size: 100%;
  @include flex(column, start, center, 1rem);

  .buttons {
    inline-size: 100%;
    @include flex(row, center, center, 1rem);

    &_all {
      flex: 1;
    }
  }

  .buttons_create,
  .buttons_save {
    flex: 1;
    @include flex(column, center, stretch, 0.5rem);
  }

  .inputs {
    inline-size: 100%;
    @include flex(column, center, center, 1rem);

    &__content {
      min-block-size: 0;
      @include flex(column, center, center, 10px);
    }
  }
}
