.radio {
  user-select: none;
  appearance: none;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: $radius;
  box-shadow: $shadow;
  background-color: $bg-color;
  color: $text-color;
  cursor: pointer;
  transition: 0.1s;

  &:has(input:focus-visible) {
    color: $accent-color;
  }

  &:has(input:checked) {
    color: $accent-color;
    box-shadow: $inner-shadow;
  }

  .input_radio {
    position: absolute;
    opacity: 0;
    inline-size: 0;
    block-size: 0;
    pointer-events: none;
  }
}
