.overlay {
  position: fixed;
  top: calc(15px);
  left: calc((100% - min(100%, $max-size)) / 2 + 15px);
  padding: 0.3rem;
  z-index: 1;
  animation: slideIn 0.2s ease;
  user-select: none;
  border-radius: calc($radius + 5px);
  border: $border;
  inline-size: 30%;
  max-inline-size: 400px;
  background-color: rgba(105, 126, 104, 0.5);
  backdrop-filter: blur(2);

  @media screen and (max-width: 1000px) {
    inline-size: 50%;
  }

  @media screen and (max-width: 640px) {
    inline-size: 80%;
  }

  @media screen and (max-width: 480px) {
    inline-size: 90%;
  }

  .toast {
    inline-size: 100%;
    @include flex(column, center, start, 0.5rem);
    border-radius: $radius;
    border: $border;
    background-color: $button-color;
    color: $accent-color;
    padding: 1rem;

    .text {
      color: $text-color;
    }
  }
}

.hide {
  animation: slideOut 0.2s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
