.toast {
  position: fixed;
  inline-size: 30%;
  max-inline-size: 400px;
  top: calc(10px);
  left: calc((100% - min(100%, $max-size)) / 2 + 10px);
  @include flex(column, center, start, 0.5rem);
  padding: 1rem;
  border-radius: $radius;
  background-color: $button-color;
  color: $accent-color;
  z-index: 1;
  animation: slideIn 0.2s ease;
  user-select: none;
  border: $border;

  .text {
    color: $text-color;
  }
}

.hide {
  animation: slideOut 0.2s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
