.container_edit {
  inline-size: 100%;
  box-shadow: $shadow;
  padding: 1rem;
  border: $border;
  border-radius: $radius;
  background-color: $block-color;
  @include flex(column, center, stretch, 10px);
  animation: opacity $animation-time ease-in-out;

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__title {
    @include flex(row, center, center, 10px);
    padding-block-end: 1rem;
    border-block-end: 2px solid $bg-color-dark;
  }

  &__inputs {
    inline-size: 100%;
    @include flex(row, center, center, 10px);
  }

  &__button_edit,
  &__button_delete {
    max-inline-size: max-content;
  }
}

.container_created {
  inline-size: 100%;
  box-shadow: $shadow;
  padding: 1rem;
  border: $border;
  border-color: $accent-color;
  border-radius: $radius;
  background-color: $block-color;
  @include flex(column, center, stretch, 10px);

  &__title {
    @include flex(row, center, center, 10px);
    padding-block-end: 1rem;
    border-block-end: 2px solid $bg-color-dark;
  }

  &__button_create {
    max-inline-size: max-content;
  }

  &__inputs {
    inline-size: 100%;
    @include flex(row, center, center, 10px);
  }
}
