.header__wrapper {
  inline-size: 100%;
  border-block-end: 1px solid $bg-color-light-dark;
  background-color: $bg-color-light-dark;

  .header {
    max-inline-size: $max-size;
    margin: 0 auto;
    @include flex(row, space-between, center, 1rem);
    padding: 1rem;

    .nav {
      @include flex;
      gap: 1rem;

      .buttons {
        box-shadow: $shadow-header;
        background-color: $bg-color;

        &:active {
          box-shadow: $inner-shadow-input;
        }

        &:disabled {
          background-color: $bg-color-dark;
          box-shadow: none;
        }
      }
    }
  }
}
