.password {
  inline-size: 25px;
  block-size: 25px;
  transition: $animation-time;

  &Path {
    fill: $accent-color;
    color: $accent-color;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}
