.form {
  inline-size: 50%;
  @include flex(column, center, center, 10px);
  animation: opacity $animation-time ease-in-out;

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 1400px) {
    inline-size: 80%;
  }

  @media screen and (max-width: 1000px) {
    inline-size: 100%;
  }

  .title {
    border-block-end: $border;
    padding-bottom: 10px;
    color: $accent-color;
  }

  .buttons {
    margin-block-start: 1rem;
    inline-size: 100%;
    @include flex(row, end, center, 10px);

    @media screen and (max-width: 500px) {
      @include flex(column, center, center, 10px);
    }
  }
}
