$accent-color: #82b2f0;

$white: #f5f8fc;
$bg-color: #e4ebf5;
$bg-color-light-dark: #c8d0e7;
$bg-color-dark: #bec8e4;
$text-color: #8b9bc4;
$error: FireBrick;

$radius: 8px;

$shadow:
  3.2px 3.2px 8px $bg-color-light-dark,
  -3.2px -3.2px 8px $white,
  inset 1.6px 1.6px 1.6px $white;

$inner-shadow:
  inset 3.2px 3.2px 8px $bg-color-light-dark,
  inset -3.2px -3.2px 8px $white;

$animation-time: 0.3s;
