.footer {
  max-inline-size: $max-size;
  inline-size: 100%;
  @include flex(row, center, center, 1rem);
  background-color: $bg-color;
  padding: 0.5rem;

  .link {
    font-weight: 700;
    color: $text-color;
    transition: $animation-time;
    outline: none;

    &:hover {
      color: $accent-color;
    }

    &:focus {
      color: $bg-color-dark;
    }
  }
}
