.loader {
  inline-size: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;

  &::after {
    content: var(--loader-text);
    color: $text-color;
    inline-size: calc(150px - 20px);
    aspect-ratio: 1;
    position: absolute;
    background-color: $bg-color;
    border-radius: 50%;
    box-shadow: $inner-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  &::before {
    content: "";
    inline-size: 100%;
    aspect-ratio: 1;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(
      transparent 0deg 140deg,
      $accent-color 160deg 200deg,
      transparent 220deg 360deg
    );
    transform: rotateZ(180deg);
    animation: rotate 2s infinite linear;
  }

  @keyframes rotate {
    0% {
      transform: rotateZ(180deg);
    }

    100% {
      transform: rotateZ(540deg);
    }
  }
}
