.container {
  inline-size: 100%;
  @include flex(column, center, stretch, 10px);
  font-size: var(--size);
  font-weight: var(--weight);
  border-block-end: $border;
  padding-block-end: 1rem;

  .error {
    color: $error;
  }

  .num {
    color: $accent-color;
    align-self: end;
  }
}
