.container {
  inline-size: 100%;
  @include flex(row, space-between, center, 10px);
  font-size: var(--size);
  font-weight: var(--weight);

  .error {
    color: $error;
  }

  .num {
    color: $accent-color;
  }
}
