.textarea {
  appearance: none;
  font: {
    family: "Iosevka Charon Mono", monospace;
    weight: 700;
  }
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  background-color: var(--bg-color);
  color: var(--accent-color);
  resize: none;

  &:focus-visible {
    outline: none;
    box-shadow: var(--inner-shadow);
  }

  &::placeholder {
    font: {
      family: "Iosevka Charon Mono", monospace;
    }
    color: var(--text-color);
  }

  &::-webkit-scrollbar {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-dark);
    border-radius: var(--radius);
    cursor: pointer;
  }
}
