.textarea {
  inline-size: 100%;
  block-size: 100%;
  appearance: none;
  padding: 0.5rem 0.8rem;
  border: $border;
  border-radius: $radius;
  background-color: $input-color;
  color: $accent-color;
  resize: none;
  transition: $animation-time;

  &:focus-visible {
    outline: none;
    box-shadow: $inner-shadow-input;
  }

  &::placeholder {
    color: $placeholder;
  }

  :has(.textarea:disabled) &::placeholder {
    color: $bg-color;
  }

  &::-webkit-scrollbar {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $bg-color-dark;
    border-radius: $radius;
    cursor: pointer;
  }

  &:disabled {
    box-shadow: none;
    background-color: $bg-color-light-dark;
    color: $bg-color;
    cursor: default;
  }
}

:has(.textarea:disabled) .textarea {
  color: $bg-color-dark;
}
