.container {
  background-color: $bg-color;
  padding: 1rem;
  border-radius: $radius;
  box-shadow: $shadow;
  @include flex(column, center, center, 10px);
  border: $border;
  background-color: $block-color;

  .create_button {
    block-size: max-content;
  }

  .title {
    inline-size: 100%;
    @include flex(row, space-between, center, 10px);
    border-block-end: $border;
    padding-block-end: 0.5rem;

    .date {
      align-self: start;
      color: $accent-color;
    }

    .deleteButton {
      inline-size: max-content;
    }
  }
}

.container_accent {
  background: $gradient;
}
