.fieldset {
  inline-size: 100%;
  padding: 0.7rem;
  border-radius: $radius;
  border: $border;
  user-select: none;
  transition: $animation-time;
  background-color: $groupe-color;
  box-shadow: $inner-shadow-container;

  .legend {
    inline-size: 100%;
    color: $text-color;
    font-weight: 700;
    padding: 0.3rem 0.7rem;
    background: $bg-color $inner-gradient;
    border-radius: $radius;
    border: $border;
  }

  :has(.fieldset:disabled) .legend {
    color: $bg-color-dark;
    background: $groupe-color;
  }

  &:disabled {
    color: $bg-color-dark;
    opacity: 0.5;
  }
}
