.fieldset {
  inline-size: 100%;
  padding: 0.7rem;
  border-radius: $radius;
  border: 2px solid $bg-color-light-dark;
  user-select: none;

  .legend {
    font-weight: 700;
    padding-inline: 0.3rem;
    border-inline: 2px solid $bg-color-light-dark;
  }
}
