.content {
  inline-size: 100%;
  min-block-size: 0;
  flex: 1;
  @include grid(2fr 1fr, auto, 10px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    inline-size: 8px;
    block-size: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $bg-color-dark;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $text-color;
    border: 2px solid $bg-color-dark;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $accent-color;
    cursor: pointer;
  }
}
