.content {
  max-inline-size: $max-size;
  inline-size: 100%;
  flex: 1;
  overflow: hidden;

  &__calculator,
  &__constructor {
    min-block-size: 0;
    inline-size: 100%;
    @include grid(2fr 1fr, 100%);
    padding: 0;
    animation: opacity $animation-time ease-in-out;

    @keyframes opacity {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &__other {
    inline-size: 100%;
    @include flex(column, start, center);
    padding: 0;

    &_notification,
    &_agreement {
      min-block-size: 0;
      flex: 1;
    }

    &_notification_editor,
    &_user_editor {
      @include flex(column, start, center);
      min-block-size: 0;
      flex: 1;
    }
  }
}
