.container {
  inline-size: 100%;
  background-color: $bg-color;
  padding: 1rem;
  border-radius: $radius;
  box-shadow: $shadow;
  @include flex(column, center, center, 10px);
  border: $border;
  background-color: $block-color;

  .status {
    inline-size: 100%;
    @include flex(row, space-between, center, 10px);
    padding-block-end: 10px;
    border-block-end: $border;

    @media screen and (max-width: 480px) {
      @include flex(column, center, stretch, 10px);
    }

    &__date {
      color: $accent-color;
    }

    &__result {
      font-weight: 600;
      color: $pending;
    }

    &__positive {
      font-weight: 600;
      color: $accent-color;
    }

    &__negative {
      font-weight: 600;
      color: $error;
    }

    .title {
      inline-size: 100%;
    }
  }

  .agreement_details {
    inline-size: 100%;

    .agreement_details__summary {
      padding-block-end: 10px;
      border-block-end: $border;
      transition: $animation-time;
      cursor: pointer;

      &:hover {
        color: $accent-color;
      }
    }

    &__information {
      @include flex(column, center, stretch, 10px);
    }
  }

  .discounts {
    inline-size: 100%;
    @include flex(column, center, start, 10px);
    padding-block-end: 10px;
    border-block-end: $border;

    &__items {
      color: $accent-color;
      list-style: inside;
    }
  }

  .name,
  .product,
  .total {
    color: $accent-color;
  }

  .total_negative {
    color: $error;
  }

  .message {
    inline-size: 100%;
    align-self: start;
    padding-block-end: 10px;
    border-block-end: $border;

    &__text {
      color: $accent-color;
    }
  }
}
