.wrapper {
  min-inline-size: 0;
  @include flex(column, start);

  .products {
    min-inline-size: 0;
    min-block-size: max-content;
    flex: 1;
    @include grid(none, auto, 10px, stretch, stretch);
    grid-auto-columns: minmax(150px, max-content);
    grid-auto-flow: column;
    overflow-y: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      block-size: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: $bg-color-dark;
      border-radius: 0 0 7px 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $text-color;
      border: 2px solid $bg-color-dark;
      border-radius: 0 0 7px 7px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $accent-color;
      cursor: pointer;
    }
  }

  .products_empty {
    flex: 1;
    @include grid(1fr, auto, 10px, center, center);
  }

  .mainCalculate {
    flex: 3;
    inline-size: 100%;
    min-block-size: max-content;
    @include flex(row, center, stretch, 10px);
    padding: 0;

    .conditions {
      flex: 1;
      @include flex(column, start, stretch, 10px);
    }

    .calculate {
      flex: 1;
      @include flex(column, start, stretch, 10px);

      &__border {
        border-block-end: none;
        padding-block-end: 0;
      }
    }
  }

  .message {
    flex: 1;
    @include grid(4fr 1fr, auto, 10px);

    .adminButtons {
      @include flex(column, center, center, 10px);
    }
  }
}
